.menu__grid {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 40px;
    text-align: center;
    margin-top: 50px;
  
}

img {
    height: 150px;
    width: 150px;
}

.menu__pizza > button {
    width: 120px;
    height: 30px;
    margin-top: 10px;
    background-color: #FEE996;
}

@media only screen and (min-width: 650px) {
    .menu__grid {
        grid-template-columns: 1fr 1fr;
      
    }
    
    img {
        height: 200px;
        width: 200px;
    }

}


@media only screen and (min-width: 1200px) {
    .menu__grid {
        grid-template-columns: 1fr 1fr 1fr;
        row-gap: 50px;
        margin-top: 30px;
      
    }
    
    img {
        height: 250px;
        width: 250px;
    }

}

